body{
    background: rgb(216, 209, 209) url(fundo.png) ;
    font: 16px Arial, Helvetica, sans-serif;
    width: 900px;
}
#principal {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px; 
    width: 890px;
}

a{ 
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.conteudo {
    background-color: white;
    padding: 10px;
}
.ft-campanha {
    border: 10px solid #c5c5b2;
}